
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;

    outline: none;

    -webkit-tap-highlight-color: rgba(0,0,0,0);//去除点击高亮
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;//iOS下禁用系统默认菜单
}

html,
body {
    height: 100%;
}

html {
    -webkit-text-size-adjust: 100%; //防止iPhone在坚屏转向横屏时放大文字
}

body {
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: $line-height-base;

    color: $text-color;
    background: $body-color;

    -webkit-overflow-scrolling: touch;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

a img {
    border: 0;
}

a {
    text-decoration: none;
    color: $link-color;
}

ul {
    list-style: none;
}

// Forms
// ==========================================================================

input,
textarea {
    -webkit-user-select: text;

    -webkit-appearance: none;//去除默认样式
}

button,
input,
optgroup,
select,
textarea {
    font: inherit; // 2

    color: inherit; // 1
}

button:focus,
input:focus {
    outline: 0;
}


// Tables
// ==========================================================================

//
// Remove most spacing between table cells.
//

table {
    border-spacing: 0;
    border-collapse: collapse;
}

td,
th {
    padding: 0;
}
