//
// Typography
// --------------------------------------------------

// Alignment
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.text-justify {
    text-align: justify;
}
.text-nowrap {
    white-space: nowrap;
}

// Transformation
.text-lowercase {
    text-transform: lowercase;
}
.text-uppercase {
    text-transform: uppercase;
}
.text-capitalize {
    text-transform: capitalize;
}

//单行文字超出显示省略号(需设置宽高)
.text-overflow {
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
}
