//
// Utility classes
// --------------------------------------------------


// Floats
// -------------------------

.pull-right {
    float: right !important;
}
.pull-left {
    float: left !important;
}

// Toggling content
// -------------------------

// Note: Deprecated .hide in favor of .hidden or .sr-only (as appropriate) in v3.0.1
.hide {
    display: none !important;
}
.show {
    display: block !important;
}
.invisible {
    visibility: hidden;
}
